/* nav {
    display: flex;
    flex-direction: row;
} */

/* * {
    background-color: blue;
} */



/* form {
    margin: 50px;
    
} */

/* input[type='textarea']{
    text-overflow: wrap;
} */


/* .buttons {
    white-space: normal;
    text-overflow: wrap;
} */

/* @media (max-width: 600px) {
    .explorePage {
        flex-direction: 'column'
    }
} */

table {
    table-layout: auto;

}